<a href="#"><img src="static/img/editar.jpg" width="20" height="20"></img></a>

<center>
	<br><strong><span class="mensajeTitulo">{{message}}</span></strong><br>
	<br><span class="mensajeTitulo">Por favor llene el siguiente formulario:</span>
</center> 
<div ng-controller="EditarEventoController">	 
  	<accordion>  	  
	    <accordion-group heading="Paso 1:" is-open="true">	     	
    		<table border=0>
				<tr>		
					<td>ARGAL IMPLANT:</td> 
					<td>{{nombreLogin}}</td>
					<td>HOSPITAL: {{hospitalSeleccionado}}</td>
					<td>
					<div ng-controller="MainCtrl" ><button ng-click="launchSimpleModal('showgridhosp','Seleccione un Hospital','views/hospital/gridhosp.jsp')">Otro...</button>
					</div>
					</td>
				</tr>		  		  	  	  
				<tr>
					<td>FECHA INGRESO:</td> 
		  	  		<td><input type="date" ng-model="evento.fechaIngreso" size="30"/></td>
		  			<td>COMPAÑIA DE SEGUROS:</td> 
		  	  		<td><select ng-model="listaClientes" ng-options="cliente.nombreCliente for cliente in clientes" ng-change="update()"> 	  	  			 
					 		<option value="">Seleccione...</option></select>	 					 		
		  	  		</td>
		  		</tr>
		  		<tr>
			  	  	<td>TIPO DE SEGURO:</td> 
		  	  		<td><select  ng-controller="AltaEventoController" ng-model="myOption" ng-options="tiposeguro.descripcion for tiposeguro in tiposseguro"  
		  	  		ng-change="showTipoSeguroView()">
					 	<option value="">Seleccione...</option>
					 	</select>
				 	</td>	  	
		  			<td>TIPO DE EVENTO:</td>  
		  	  		<td><select ng-model="tiposeventos" ng-options="tipoevento.descripcion for tipoevento in tiposevento"  ng-change="update()">
					 	<option value="">Seleccione...</option></select></td>	 				  	  	
		  		</tr>
			</table>                             
	   </accordion-group>	    	    	   
	   <accordion-group	heading="Paso 2:{{tipoSeguroSel}}" is-open="false">
	     	<div ng-controller="AltaEventoController" id="tipoSeguroPersonalDIV" style="display:none">
				<table> 
					<tr>
						<td>NO. NOMINA:</td>
						<td><input type="text" ng-model="evento.registroSeguroPersonal.numeroNomina" size="30"/></td>	  	
						<td>INSTITUCION:</td> 
						<td><input type="text" ng-model="evento.registroSeguroPersonal.institucion" size="30"/></td>
					</tr>
					<tr>
						<td>NO. AUTORIZACIÓN:</td>
						<td><input type="email" ng-model="evento.registroSeguroPersonal.numeroAutorizacion" size="30"/></td>	  	
						<td></td>
						<td></td>
					</tr>
				</table>
				TITULAR
				<table>
					<tr>
						<td>NOMBRE:</td>
						<td><input type="text" ng-model="evento.registroSeguroPersonal.nombreTitular" /></td>
						<td>APELLIDO PATERNO:</td>
						<td><input type="text" ng-model="evento.registroSeguroPersonal.appTitular" /></td> 
					</tr>	  
					<tr>	 
						<td>APELLIDO PATERNO:</td>
						<td><input type="text" ng-model="evento.registroSeguroPersonal.appTitular" /></td>
						<td>
						</td>
					</tr>
				</table>
				PACIENTE
				<table>
					<tr>
						<td>NOMBRE:</td>
						<td><input type="text" ng-model="evento.registroSeguroPersonal.nombrePaciente" /></td>
						<td>APELLIDO PATERNO:</td>
						<td><input type="text" ng-model="evento.registroSeguroPersonal.appPaciente" /></td> 
					</tr>  			  		  
					<tr>	 
						<td>APELLIDO MATERNO:</td>
						<td><input type="text" ng-model="evento.registroSeguroPersonal.appPaciente" /></td>
						<td>EDAD:<input type="text" ng-model="evento.registroSeguroPersonal.edadPaciente"/>
						UNIDAD:
						<select ng-model="unidadesedades" ng-options="unidad.descripcion for unidad in unidadesedades"  ng-change="update()">
							<option value="">Seleccione...</option>
						</select>
						<!-- evento.registroSeguroPersonal.unidadEdadPaciente -->  				
						</td>
					</tr>  			
				</table>
			</div>
			<div id="tipoSeguroGastosMayoresDIV" style="display:none">
				<table> 
					<tr>
						<td>NO. POLIZA:</td>
						<td><input type="text" ng-model="evento.registroGastosMayores.numeroPoliza" size="30"/></td>	  	
						<td>DEDUCIBLE:</td> 			
						<td><input type="text" ng-model="evento.registroGastosMayores.deducible" size="30"/></td>
					</tr>
					<tr>
						<td>COASEGURO MEDICO/HOSPITALARIO:</td>
						<td><input type="text" ng-model="evento.registroGastosMayores.coaseguroMedico" size="30"/></td>	  	
						<td>SUMA ASEGURADA:</td>
						<td><input type="text" ng-model="evento.registroGastosMayores.sumaAsegurada" size="30"/></td>
					</tr>
					<tr>
						<td>MONTO DE CARTA DE AUTORIZACIÓN INICIAL:</td>
						<td><input type="text" ng-model="evento.registroGastosMayores.montoCartaAutInicial" size="30"/></td>	  	
						<td>TABULACIÓN DE HONORARIOS MÉDICOS:</td>
						<td><input type="text" ng-model="evento.registroGastosMayores.tablaHonorariosMedicos" size="30"/></td>
					</tr>
				</table>
				TITULAR
				<table>
					<tr>
						<td>NOMBRE:</td>
						<td><input type="text" ng-model="evento.registroGastosMayores.nombreTitular" /></td>
						<td>APELLIDO PATERNO:</td>
						<td><input type="text" ng-model="evento.registroGastosMayores.appTitular" /></td>   				
						<td>APELLIDO PATERNO:</td>
						<td><input type="text" ng-model="evento.registroGastosMayores.appTitular" /></td>  				
					</tr>
				</table>
				PACIENTE
				<table>
					<tr>
						<td>NOMBRE:</td>
						<td><input type="text" ng-model="evento.registroGastosMayores.nombrePaciente" /></td>
						<td>APELLIDO PATERNO:</td>
						<td><input type="text" ng-model="evento.registroGastosMayores.appPaciente" /></td> 
					</tr>   
					<tr>	 
						<td>APELLIDO PATERNO:</td>
						<td><input type="text" ng-model="evento.registroGastosMayores.appPaciente" /></td>
						<td>EDAD:<input type="text" ng-model="evento.registroGastosMayores.edadPaciente"/></td>
						<td>UNIDAD:
							<select ng-model="unidadesedades" ng-options="unidad.descripcion for unidad in unidadesedades"  ng-change="update()">
								<option value="">Seleccione...</option>
							</select>
							<!-- evento.registroSeguroPersonal.unidadEdadPaciente -->  				
						</td>
					</tr>  			
				</table>	
			</div>  
	   </accordion-group>	    	    	   	  
	   <accordion-group heading="Paso 3:" is-open="false">
	   <table>
				<tr>		
					<td>NUMERO HABITACION:</td> 
					<td><input type="text" ng-model="evento.numHabitacion" /></td>
					<td></td>
					<td>
					</td>
				</tr>		  		  	  	  
				<tr>
					<td>ANTECEDENTES:</td>
					<td><input type="text" ng-model="evento.hospital.nombreHospital" size="30" />
					<div ng-controller="MainCtrl" ><button ng-click="launchSimpleModal('showgridcatdesc','Seleccione un Antecedente','views/cat_desc/cat_desc.jsp')">Otro...</button>
					</div>
					</td> 
		  	  		<td>DIAGNOSTICO DE INGRESO:</td>
					<td><input type="text" ng-model="evento.hospital.nombreHospital" size="30" />
					<div ng-controller="MainCtrl" ><button ng-click="launchSimpleModal('showgridcatdesc','Seleccione un Diagnóstico de Ingreso','views/cat_desc/cat_desc.jsp')">Otro...</button>
					</div>
					</td>
				</tr>
				<tr>
		  			<td>PROCEDIMIENTO:</td> 
		  	  		<td><input type="text" ng-model="evento.hospital.nombreHospital" size="30" />
					<div ng-controller="MainCtrl" ><button ng-click="launchSimpleModal('showgridcatdesc','Seleccione un Procedimiento','views/cat_desc/cat_desc.jsp')">Otro...</button>
					</div>
					</td>		  		
			  	  	<td>TIPO DE TRATAMIENTO QUIRURGICO:</td> 
		  	  		<td><input type="text" ng-model="evento.hospital.nombreHospital" size="30" />
					<div ng-controller="MainCtrl" ><button ng-click="launchSimpleModal('showgridcatdesc','Seleccione un Tipo de Tratamiento Quirúrgico','views/cat_desc/cat_desc.jsp')">Otro...</button>
					</div>
					</td>
				 </tr>
				 <tr>	  	
		  			<td>MEDICO TRATANTE:</td>  
		  	  		<td><input type="text" ng-model="evento.medicoTratante" /></td>		  	  				  		
		  			<td>ESPECIALIDAD:</td>  
		  	  		<td><input type="text" ng-model="evento.especialidad" /></td>
		  	  	</tr>
		  	  	<tr>
		  	  		<td>¿ES DE LA RED?:</td>
		  	  		<td><input type="checkbox" ng-model="evento.red" /></td>
		  	  		<td></td>
		  	  		<td>
			  	  		<button ng-click="guardarEvento(evento)"  >Guardar</button>  		
						<span class="mensajeError" ng-show="altaeventoform.$invalid">{{mensajeError}}</span>
		  	  		</td>
		  		</tr>
			</table>	   		
	   </accordion-group>
	    	    
	   </accordion>  	    	  				  	    
</div>    
    